.swiper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.colleague {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  &-swiper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    overflow: hidden;
    &-container {
      width: 300px;
      height: 400px;
      // margin: 0 auto;
    }
  }
  &-retry {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    // flex-direction: column;
    gap: 10px;
    &.active {
      opacity: 1;
    }
  }
}

@media (max-width: 426px) {
  .slider-btn {
    visibility: hidden;
  }
  .colleague-swiper-container{
    width: 250px;
    height: 350px;
    
  }
  .card-container .card {
    width: 250px !important;
    height: 350px !important;
  }
}
