.questions-short {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  height: calc(100% - 116px);
  & .progress {
      width: 100%;
  }
  & .swiper {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 300px;
    height: 400px;
    & img {
      width: 300px;
      height: 400px;
    }
  }
  &-cards {
    width: 300px;
    height: 400px;
    position: relative;
  }
  &-card {
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;

    border-radius: 10px;
    padding: 20px;

    cursor: pointer;

    &-img {
      width: 100%;
      height: 80%;
      background-size: cover;
      background-repeat: no-repeat;
      transition: all 0.3s ease-in-out;
      border-radius: 10px;
    }
    &:hover &-img {
      filter: blur(1px);
    }
    & h2 {
      color: #2d2d2d;
      font-weight: normal;
      font-size: 20px;
    }
  }
  &-answer {
    position: relative;
    width: 100%;
    height: 30px;
    &-right,
    &-wrong {
      position: absolute;

      font-weight: bold;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }
    &-right {
      color: green;
      // opacity: 0;
    }
    &-wrong {
      color: red;
      // opacity: 0;
    }
  }
  &-results {
    text-align: center;
    & p {
      font-size: 18px;
      font-weight: bold;
      color: #2d2d2d;
    }
  }
}

@media (max-width: 426px) {
  .questions-short-cards, .questions-short .swiper {
    width: 250px;
    height: 350px;
  }
}
