.card-container {
  perspective: 1000;

  &.active .card {
    transform: rotateY(180deg);
  }
  & .card {
    transition: 0.4s;
    transform-style: preserve-3d;

    position: relative;

    width: 300px;
    height: 400px;
    background-color: #f9f9f9;
    color: black;

    border-radius: 10%;
    position: relative;

    cursor: pointer;
    

    & .front,
    & .back {
      width: 100%;
      height: 100%;

      backface-visibility: hidden;

      position: absolute;
      top: 0;
      left: 0;

      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 10%;
    }
    & .front {
      z-index: 2;
      display: flex;
      flex-direction: column-reverse;
      padding: 20px;
      & h2, & p {
        // font-family: "Raleway", sans-serif;
        transition: none;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.1em;
        text-transform: capitalize;
        color: #f9f9f9;
      }
    }
    & .back {
      transform: rotateY(180deg);
      padding: 20px;
      color: #2b2b2b;
      & h2 {
        font-weight: 800;
        font-size: 16px;
        line-height: 39px;
        letter-spacing: 0.1em;
        text-transform: capitalize;
      }
      & p {
        font-weight: 500;
        font-size: 16px;
        line-height: 39px;
        letter-spacing: 0.1em;
      }
    }
  }
}

