.app {
  height: 100vh;
  background: #E5E5E5;
  
  &-header {
    width: 100%;
    text-align: center;

    margin-bottom: 10px;
    padding: 31px 0 26px 0;
    background: #F9F9F9;
    box-shadow: 4px 4px 8px 0px #dbdbdb;

    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    & a {
      color: #2B2B2B;
      text-decoration: none;
    }
    & a:hover {
      color: #2B2B2B;
      text-decoration: none;
    }
  }
}
